.navMenu {
  display: flex;
  gap: 8px;
}

.navLink {
  font-size: 18px;
  color: #b46161;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #d36f6f;
}
@media screen and (min-width: 769px) {
  .navMenu {
    gap: 30px;
  }
}
