.authNav {
  display: flex;
  gap: 8px;
}

.link {
  font-size: 18px;
  color: #b46161;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #d36f6f;
}
@media screen and (min-width: 769px) {
  .authNav {
    gap: 16px;
  }
}
